* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-color: rgb(40, 40, 86);
}

#carousel {
    width: 100%;
}


.splide__slide img {
    width: 80%;
    margin-left: 10%;
}

@media (width<=640px){
    .splide__slide img {
        width: 50dvw;
        height: 50dvw;
        margin-left: calc((100% - 50dvw) /2);
    }
}
